<tr>
  <td>
    {{#color}}
      <img src="{{imgSrc}}/legend-{{this}}.gif" height="7" width="7" alt="" />
    {{/color}}

    {{#index}}
      \{{#eq @index 0}}
        <img src="{{imgSrc}}/legend-primary.gif" height="7" width="7" alt="" />
      \{{/eq}}
      \{{#eq @index 1}}
        <img src="{{imgSrc}}/legend-success.gif" height="7" width="7" alt="" />
      \{{/eq}}
      \{{#eq @index 2}}
        <img src="{{imgSrc}}/legend-warning.gif" height="7" width="7" alt="" />
      \{{/eq}}
    {{/index}}
    &nbsp; {{! outlook spacing }}
    <span class="graph-legend-text">
      <span class="graph-legend-title caps">{{title}}</span> ({{weekly_digest_from}}: {{previous}} {{weekly_digest_to}}: {{current}})
    </span>

    \{{#gtz delta}}
      <img src="{{imgSrc}}/change-up.png" height="5" width="9" alt="" />
      <span class="graph-legend-text up">{{percent}}</span>
    \{{/gtz}}

    \{{#ltz delta}}
      <img src="{{imgSrc}}/change-down.png" height="5" width="9" alt="" />
      <span class="graph-legend-text down">{{percent}}</span>
    \{{/ltz}}

    \{{#eqz delta}}
      <img src="{{imgSrc}}/change-neutral.png" height="5" width="9" alt="" />
      <span class="graph-legend-text">{{percent}}</span>
    \{{/eqz}}
  </td>
</tr>
