<tr>
  <td class="left">
    {{title}}
  </td>

  <td class="right middle">
      <strong>{{previous}}</strong>
  </td>

  <td class="right middle">
      <strong>{{current}}</strong>
  </td>

  \{{#compare delta ">" 0}}
  <td class="keyword-change up">
      <img height="5" width="9" src="https://d384x5zk471rz.cloudfront.net/weekly-digest/change-up.png" alt="" />
      <span class="keyword-change-text">\{{abs percent}}%</span>
  </td>
  \{{/compare}}

  \{{#compare delta "<" 0}}
  <td class="keyword-change down">
      <img height="5" width="9" src="https://d384x5zk471rz.cloudfront.net/weekly-digest/change-down.png" alt="" />
      <span class="keyword-change-text">\{{abs percent}}%</span>
  </td>
  \{{/compare}}

  \{{#compare delta "==" 0}}
  <td class="keyword-change">
      <img height="5" width="9" src="https://d384x5zk471rz.cloudfront.net/weekly-digest/change-neutral.png" alt="" />
      <span class="keyword-change-text">\{{abs percent}}%</span>
  </td>
  \{{/compare}}
</tr>
