<tr>
  <td class="left">
    {{title}}
  </td>

  <td class="right middle">
      <strong>{{previous}}</strong>
  </td>

  <td class="right middle">
      <strong>{{current}}</strong>
  </td>

  \{{#gtz delta}}
  <td class="keyword-change up">
      <img height="5" width="9" src="{{imgSrc}}/change-up.png" alt="" />
      <span class="keyword-change-text">\{{abs percent}}%</span>
  </td>
  \{{/gtz}}

  \{{#ltz delta}}
  <td class="keyword-change down">
      <img height="5" width="9" src="{{imgSrc}}/change-down.png" alt="" />
      <span class="keyword-change-text">\{{abs percent}}%</span>
  </td>
  \{{/ltz}}

  \{{#eqz delta}}
  <td class="keyword-change">
      <img height="5" width="9" src="{{imgSrc}}/change-neutral.png" alt="" />
      <span class="keyword-change-text">\{{abs percent}}%</span>
  </td>
  \{{/eqz}}
</tr>
