---
email_lead_generated_subject: <%= i18n[language]['general'].email_lead_generated_subject %>
email_lead_generated_description: <%= i18n[language]['general'].email_lead_generated_description %>
name_label: <%= i18n[language]['general'].name %>
email_label: <%= i18n[language]['general'].email %>
phone_label: <%= i18n[language]['general'].phone %>
website_label: <%= i18n[language]['general'].website %>
title: <%= i18n[language]['general'].email_lead_generated_subject %>
---
<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
    <tr>
        <td class="content-wrap body-content">
            <meta itemprop="name" content="Confirm Email" />
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="content-block">
                        <h2>{{email_lead_generated_subject}}</h2>
                    </td>
                </tr>
                <tr>
                    <td class="content-block">
                        <p>{{{email_lead_generated_description}}}</p>
                        <ul>
                            <li>{{{name_label}}}: [[lead_name]]</li>
                            <li>{{{email_label}}}: [[lead_email]]</li>
                            <li>{{{phone_label}}}: [[lead_phone]]</li>
                            <li>{{{website_label}}}: [[lead_website]]</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
